body { 
  background-color: white;
  margin-top: 0;
  margin-left: 0;
  max-width: 480px;
}

#styletriangle {
  width: 0px;
  height:0px;
  border-top: 74px solid #fec25a;
  border-right: 74px solid transparent;
}
.shape {
  display: flex;
  justify-items: start;
}

#diamond {
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-bottom-color: #e35461;
  position: relative;
  top: -37px;
  margin-left:-37px ;
}
#diamond:after {
  content: '';
  position: absolute;
  left: -37px;
  top: 37px;
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-top-color: #e35461;
}

#menuimg {
  height: 25px;
  width: 40px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: Playfair Display, sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 150%;
  color: #1a2236;
}

#intro {
  margin-left: 2%;
}

.paragraph {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: '-0.0.1em';
  color: #1a2236;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}

#introbutton {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  background-color: #1a2236;
  color: white;
}
