body {
  background-color: white;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  max-width: 500px;
}

#triangle {
  width: 0;
  height: 0;
  border-top: 74px solid #fec25a;
  border-right: 74px solid transparent;
}

.shape {
  display: flex;
  justify-items: start;
}

#diamond {
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-bottom-color: #e35461;
  position: relative;
  top: -37px;
  margin-left: -37px;
}

#diamond::after {
  content: '';
  position: absolute;
  left: -37px;
  top: 37px;
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-top-color: #e35461;
}

#menuimg {
  height: 25px;
  width: 40px;
  margin-right: 16px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: Playfair Display, sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 150%;
  color: #1a2236;
}

#intro {
  margin-left: 2%;
}

.paragraph {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: '-0.0.1em';
  color: #1a2236;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
}

#introbutton {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  background-color: #1a2236;
  color: white;
}

#titleimg {
  background: url("./assets/img/projectimg.png");
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 32px;
  margin-bottom: 42px;
}

#projecttitle {
  margin-left: 18px;
}

.projectimg img {
  height: 195px;
  width: 100%;
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
}

.project {
  background-color: #1a2236;
  color: white;
  font-family: Poppins, sans-serif;
}

.projectdetails {
  margin-left: 16px;
  padding-bottom: 20px;
}

.projectdetails h3 {
  font-size: 20px;
  font-weight: 300;
}

.projectbuttons {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-left: 0;
  margin-bottom: 26px;
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.projectbuttons li {
  background-color: #98dede;
  padding: 7px;
  margin-left: 0;
  color: black;
}

.projectbuttons button {
  background-color: #98dede;
  color: black;
  border: none;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
}

.viewbutton {
  display: flex;
  justify-content: space-around;
  width: 55%;
  color: white;
  border: 2px solid white;
  align-items: baseline;
}

.viewbutton i {
  width: 20.57px;
  height: 15.35px;
}

.grid-item {
  background-color: #1c528a;
  padding-bottom: 53px;
  padding-left: 50px;
  position: 50px;
  font-size: 30px;
  color: white;
  font-family: Poppins, sans-serif;
  height: 286px;
}

.grid-item h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  padding-top: 25px;
}

.grid-item li {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.gridproject {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #1a2236;
}

.gridimg {
  grid-row: span 1;
}

.gridcontent {
  grid-row: span 1;
  margin-left: 16px;
  color: white;
  font-family: Poppins, sans-serif;
}

.gridcontent h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
}

#about h1 {
  display: flex;
  justify-content: start;
}

#about p {
  margin-bottom: 32px;
}

.aboutbtn button {
  display: block;
  width: 100%;
  border: none;
  background-color: #1a2236;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

.aboutbtn i {
  transform: rotate(90deg);
}

.aboutbtn button:hover {
  opacity: 0.5;
}

.aboutbtn {
  margin-bottom: 40px;
}

.workicon {
  background-image: url("./assets/img/hashtag.png");
  float: right;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-right: -18px;
  margin-top: 40px;
  z-index: 0.9;
}

.workicon2 {
  background-image: url("./assets/img/shape.png");
  float: right;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-right: -22px;
  margin-top: 20px;
  margin-bottom: -25px;
  z-index: 0.9;
}

.workicon3 {
  background-image: url("./assets/img/bulb.png");
  float: right;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-right: -18px;
  margin-top: 13px;
  z-index: 0.9;
}

.frame {
  background-color: #e2505c;
}

.skill {
  background-color: #febf52;
}

#form {
  margin-top: 50px;
  background-color: #f9f9fa;
}

.form-title {
  margin-left: 16px;
  margin-right: 14px;
}

.form-wrapper {
  margin: 10px;
}

.full-input {
  width: 100%;
  display: inline-block;
  padding: 3px;
  border: 2px solid #dfdfe0;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 8px;
}

.input {
  outline: none;
  border: none;
  display: block;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: #1a2236;
  padding-left: 10px;
}

#name::placeholder {
  color: #1a2236;
  font-size: 14px;
  line-height: 21px;
}

label {
  display: block;
  font-size: 12px;
  color: #7d7c84;
  font-weight: 400;
  line-height: 15px;
  padding-left: 10px;
}

.textarea-input {
  margin-bottom: 15px;
}

.textarea {
  width: 100%;
  border: 2px solid #dfdfe0;
  border-radius: 5px;
  resize: none;
  height: 121px;
}

.textarea::placeholder {
  padding-left: 10px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins, sans-serif;
}

.form-button {
  margin-bottom: 65px;
  width: 100%;
}

#form-button {
  display: block;
  width: 100%;
  background-color: #1a2236;
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  margin-right: -10px;
}

#footer {
  background: #1a2236;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer .resume {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: baseline;
}

#footer .resume .paragraph {
  color: #92dcdc;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline;
  margin: 0 16px;
}

#footer .resume .fa-arrow-up-right-from-square {
  color: #92dcdc;
  font-size: 20px;
}

#footer .social-media-icon {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  justify-content: space-evenly;
}

#footer .social-media-icon i {
  font-size: 20px;
}
