body {
  background-color: white;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

p {
  animation-name: example;
  animation-duration: 2s;
}

@keyframes example {
  from {opacity: 2;}
  to {opacity: 0;}
}

.desktop-version {
  display: none;
}

#triangle {
  width: 0;
  height: 0;
  border-top: 74px solid #fec25a;
  border-right: 74px solid transparent;
}

.shape {
  display: flex;
  justify-items: start;
}

#diamond {
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-bottom-color: #e35461;
  position: relative;
  top: -37px;
  margin-left: -37px;
}

#diamond::after {
  content: '';
  position: absolute;
  left: -37px;
  top: 37px;
  width: 0;
  height: 0;
  border: 37px solid transparent;
  border-top-color: #e35461;
}

#menuimg {
  height: 25px;
  width: 40px;
  margin-right: 16px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: Playfair Display, sans-serif;
  font-weight: 200;
  font-size: 40px;
  line-height: 150%;
  color: #1a2236;
}

.title h1 {
  animation: dropdown 3s ease-in-out 1;
}

@keyframes dropdown {
  from {
    margin-top: -70%;
  }

  to {
    margin-top: 0%;
  }
}

#intro {
  margin-left: 2%;
}

.paragraph {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: '-0.0.1em';
  color: #1a2236;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 35px;
  transition: all 0.5s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.intro-desktop-image {
  display: none;
}

.dot-image {
  display: none;
}

#introbutton {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  background-color: #1a2236;
  color: white;
}

#titleimg {
  background: url("./assets/img/projectimg.png");
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 32px;
  margin-bottom: 42px;
}

#projecttitle {
  margin-left: 18px;
}

.projectimg img {
  height: 195px;
  width: 100%;
}

#projects {
  display: grid;
  grid-template-columns: 1fr;
}

.project {
  background-color: #1a2236;
  color: white;
  font-family: Poppins, sans-serif;
}

.projectdetails {
  margin-left: 16px;
  padding-bottom: 20px;
}

.projectdetails h3 {
  font-size: 20px;
  font-weight: 300;
}

.projectbuttons {
  display: flex;
  justify-content: start;
  gap: 10px;
  margin-left: 0;
  margin-bottom: 26px;
  list-style-type: none;
  animation: 3s infinite alternate slidein;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.projectbuttons li {
  background-color: #98dede;
  padding: 7px;
  margin-left: 0;
  color: black;
}

.projectbuttons button {
  background-color: #98dede;
  color: black;
  border: none;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  padding: 6px;
}

.viewbutton {
  display: flex;
  justify-content: space-around;
  width: 55%;
  color: white;
  border: 2px solid white;
  align-items: baseline;
}

.viewbutton i {
  width: 20.57px;
  height: 15.35px;
}

.grid-item {
  background-color: #1c528a;
  padding-bottom: 53px;
  padding-left: 50px;
  position: 50px;
  font-size: 30px;
  color: white;
  font-family: Poppins, sans-serif;
  height: 286px;
}

.grid-item h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 800;
  padding-top: 25px;
}

.grid-item li {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.gridproject {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: #1a2236;
}

.gridimg {
  grid-row: span 1;
}

.gridcontent {
  grid-row: span 1;
  margin-left: 16px;
  color: white;
  font-family: Poppins, sans-serif;
}

.gridcontent h3 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

#about {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px;
}

#about h1 {
  display: flex;
  justify-content: start;
}

#about p {
  margin-bottom: 32px;
}

.aboutbtn button {
  display: block;
  width: 100%;
  border: none;
  background-color: #1a2236;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  cursor: pointer;
}

.aboutbtn i {
  transform: rotate(90deg);
}

.aboutbtn button:hover {
  opacity: 0.5;
}

.aboutbtn {
  margin-bottom: 40px;
}

.workicon {
  background-image: url("./assets/img/hashtag.png");
  float: right;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-right: -18px;
  margin-top: 40px;
  z-index: 0.9;
}

.workicon2 {
  background-image: url("./assets/img/shape.png");
  float: right;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-right: -22px;
  margin-top: 20px;
  margin-bottom: -25px;
  z-index: 0.9;
}

.workicon3 {
  background-image: url("./assets/img/bulb.png");
  float: right;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  margin-right: -18px;
  margin-top: 13px;
  z-index: 0.9;
}

.frame {
  background-color: #e2505c;
}

.skill {
  background-color: #febf52;
}

#form {
  margin-top: 50px;
  background-color: #f9f9fa;
}

.form-title {
  margin-left: 16px;
  margin-right: 14px;
}

.form-wrapper {
  margin: 10px;
}

.full-input {
  width: 100%;
  display: inline-block;
  padding: 3px;
  border: 2px solid #dfdfe0;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 8px;
  transition: all 0.5s ease-out;
}

.full-input:hover {
  transform: translateX(1.5%);
}

.full-input:hover {
  transition: all ease-in-out 250ms;
  transform: scale(1.05);
}

.input {
  outline: none;
  border: none;
  display: block;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  color: #1a2236;
  padding-left: 10px;
}

#name::placeholder {
  color: #1a2236;
  font-size: 14px;
  line-height: 21px;
}

label {
  display: block;
  font-size: 12px;
  color: #7d7c84;
  font-weight: 400;
  line-height: 15px;
  padding-left: 10px;
}

.textarea-input {
  margin-bottom: 15px;
  transition: all 0.5s ease-out;
}

.textarea-input:hover {
  transform: translateX(1.5%);
}

.textarea {
  width: 100%;
  border: 2px solid #dfdfe0;
  border-radius: 5px;
  resize: none;
  height: 121px;
}

.textarea::placeholder {
  padding-left: 10px;
  padding-top: 15px;
  font-size: 14px;
  line-height: 21px;
  font-family: Poppins, sans-serif;
}

.form-button {
  margin-bottom: 65px;
  width: 100%;
}

#form-button {
  display: block;
  width: 100%;
  background-color: #1a2236;
  border: none;
  color: white;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  margin-right: -10px;
}

#footer {
  background: #1a2236;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#footer .resume {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 16px;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 16px;
}

#footer .resume .paragraph {
  color: #92dcdc;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: inline;
  margin: 0 16px;
}

#footer .resume .fa-arrow-up-right-from-square {
  color: #92dcdc;
  font-size: 20px;
}

#footer .social-media-icon {
  display: flex;
  flex-wrap: nowrap;
  color: white;
  justify-content: space-evenly;
}

#footer .social-media-icon i {
  font-size: 20px;
}

.desktopversion {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-version {
    display: none;
  }

  .desktop-version {
    display: unset;
  }

  .nav-list {
    display: flex;
    gap: 5%;
    justify-content: center;
    list-style: none;
    align-items: center;
    padding: 10px;
    position: sticky;
  }

  .nav-list > * {
    font: Poppins, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #1a2236;
  }

  a {
    color: #1a2236;
    text-decoration: none;
  }

  a:hover {
    color: #1a2236;
    text-decoration: none;
    cursor: pointer;
  }

  .active {
    text-decoration: underline;
  }

  li:hover {
    text-decoration: underline;
  }

  .intro-desktop-image {
    display: unset;
  }

  #intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }

  .intro-desktop-image img {
    width: 100%;
    height: 620px;
  }

  .grid-item1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .dot-image {
    display: unset;
    display: flex;
    justify-content: flex-end;
  }

  .dot-image img {
    height: 150px;
    width: 150px;
  }

  .grid-item1 .title {
    margin-left: 60px;
    width: 80%;
  }

  .grid-item1 .title h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .grid-item1 .paragraph {
    margin-left: 60px;
    width: 70%;
  }

  .grid-item1 .paragraph p {
    font-size: 14px;
    line-height: 21px;
  }

  .grid-item1 .button {
    margin-left: 60px;
    width: 40%;
  }

  #titleimg {
    display: none;
  }

  #project-title {
    display: none;
  }

  #projects {
    display: none;
  }

  #project .projectgrid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #project .projectgrid .grid2 {
    grid-column: span 3;
  }

  #project .projectgrid .grid1 {
    display: flex;
    align-items: flex-start;
  }

  #project .projectgrid .grid1 h1 {
    transform: rotate(-90deg);
    font-size: 60px;
    font-weight: 500;
  }

  #project .projectgrid .grid1 img {
    height: 150px;
    width: 100px;
  }

  #project .projectfrid .grid2 .projectimg img {
    height: 205px;
  }

  #project {
    display: inline;
  }

  #project .mixedgrid {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 0;
    align-items: baseline;
  }

  #detailsproject {
    width: 33%;
    height: 100%;
    margin-top: 40px;
    align-self: flex-start;
  }

  #laptopimage {
    width: 100%;
    height: 100%;
  }

  #shapeimages {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
  }

  .mixedgrid .projectimg {
    width: 33%;
    height: 80%;
  }

  .firstimage {
    width: 33.3%;
    height: 100%;
  }

  #project .mixedgrid .project {
    height: 100%;
  }

  #projectdetails h4 {
    margin-bottom: 2px;
  }

  #projectdetails ul {
    margin-bottom: 5px;
  }

  #projectdetails .viewbutton {
    font-size: 12px;
  }

  #second-img {
    width: 55%;
  }

  #projectimg1 {
    width: 100%;
    margin-top: -5px;
  }

  .projectimg-desktop {
    width: 100%;
    height: fit-content;
  }

  #third-img {
    width: 45%;
  }

  #projectimg2 {
    width: 100%;
    margin-top: -5px;
  }

  #projectimg3 {
    width: 15%;
  }

  #projectimg4 {
    width: 10%;
  }

  #fourth-img {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
  }

  #fifth-img {
    width: 33%;
  }

  #project .mixedgrid #fifth-img img {
    width: 100%;
  }

  #about {
    display: none;
  }

  #about-desktop {
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
  }

  #about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
  }

  #first-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
  }

  .flex-dot {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  #grid-dot-image {
    height: 70%;
    width: 80%;
  }

  #about-desktop #about-grid #second-about h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 100px;
    font-weight: 400;
    color: #1a2236;
    line-height: 80px;
    margin-bottom: 0;
  }

  #second-about p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 21px;
    animation-duration: 3s;
    animation-name: slidein;
  }

  #second-about button {
    margin-top: 42px;
    width: 200px;
  }

  #form {
    display: none;
  }

  .form-flex {
    display: flex;
    justify-content: space-between;
  }

  #triangleform {
    width: 0;
    height: 0;
    border-top: 148px solid #fec25a;
    border-right: 148px solid transparent;
  }

  #diamond {
    width: 0;
    height: 0;
    border: 74px solid transparent;
    border-bottom-color: #e35461;
    position: relative;
    top: -74px;
    margin-left: -74px;
  }

  #diamond::after {
    content: '';
    position: absolute;
    left: -74px;
    top: 74px;
    width: 0;
    height: 0;
    border: 74px solid transparent;
    border-top-color: #e35461;
  }

  #formtopicon {
    height: 150px;
    width: 220px;
  }

  #formbuttomicon {
    height: 300px;
    width: 230px;
  }

  .formdiv {
    width: 50%;
    margin-bottom: 150px;
  }

  #formheader {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100px;
    line-height: 100px;
  }

  #desktop-form .form-flex .formdiv p {
    text-align: left;
    width: 90%;
    padding-bottom: 25px;
  }

  .icon2-div {
    align-self: flex-end;
  }

  .form-content {
    width: 500px;
  }

  .form-input-flex {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
  }

  #form-button {
    width: 254px;
    margin: auto;
  }

  #footer {
    display: none;
  }

  #footer-desktop {
    background-color: #1a2236;
    padding-right: 160px;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 100%;
  }

  .resume-desktop {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 120px;
    margin-right: 160px;
  }

  #footer-paragraph {
    color: white;
  }

  #social-media-icon {
    column-gap: 15px;
  }

  .viewbutton-desktop {
    width: 212px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    color: #1a2236;
    align-items: center;
    transition: all ease-in-out 250ms;
  }

  #projectlaptop {
    width: 100%;
    height: 150px;
  }

  .viewbutton-desktop:hover {
    transition: all ease-in-out 250ms;
    transform: scale(1.05);
  }
}
